.footer {
    padding: 75px 0 45px 0;
}

.footer__container {
}

.footer__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

@media (max-width: 500px) {
    .footer {
        padding: 20px 0;
    }

    .footer__items {
        flex-direction: column;
        gap: 20px;
    }

}